<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weatherdemo2.mapper.CityMapper">

    <select id ="findAll" resultType="com.example.weatherdemo2.pojo.City">
        select * from city;
    </select>
    <select id="findCityIdByCityName" resultType="com.example.weatherdemo2.pojo.City">
        select * from city where cityName=#{cityName};
    </select>
    <select id="findCityNamebyCityId" resultType="com.example.weatherdemo2.pojo.City">
        select * from city where cityId=#{cityId};
    </select>
</mapper>