<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weatherdemo2.mapper.ForecastMapper">

    <resultMap id="ForecastMapper" type="Forecast">
        <id column="cityId" property="cityId"></id>
        <id column="cityName" property="cityName"></id>
        <id column="data" property="data"></id>
        <result column="high" property="high"></result>
        <result column="fengli" property="fengli"></result>
        <result column="low" property="low"></result>
        <result column="fengxiang" property="fengxiang"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <select id="findForecastByCityId" parameterType="String" resultMap="ForecastMapper">
        select * from forecast where cityId=#{cityId}
    </select>

    <select id="findForecastByCityName" parameterType="String" resultMap="ForecastMapper">
         select * from forecast where cityName=#{cityName}
    </select>

    <insert id="addForecastByCityId" parameterType="Forecast">
        insert into forecast(cityId,cityName,date,high,fengli,low,fengxiang,type)
            values(#{cityId},#{cityName},#{date},#{high},#{fengli},#{low},#{fengxiang},#{type})
    </insert>



</mapper>
