<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weatherdemo2.mapper.ForecastMapper">

        <select id="findAll" resultType="com.example.weatherdemo2.pojo.Forecast">
            select * from forecast ;
        </select>

        <select id="findForecastByCityName" resultType="com.example.weatherdemo2.pojo.Forecast">
             select * from forecast where cityName=#{cityName}
        </select>

</mapper>
