<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weatherdemo2.mapper.YesterdayMapper">
    
    <select id="findAll" resultType="com.example.weatherdemo2.pojo.Yesterday">
        select * from yesterday ;
    </select>

    <select id="findYesterdayByCityId" resultType="com.example.weatherdemo2.pojo.Yesterday">
        select * from yesterday where cityId=#{cityId};
    </select>

    <select id="findYesterdayByCityName" resultType="com.example.weatherdemo2.pojo.Yesterday">
        select * from yesterday where cityName=#{cityName};
    </select>

</mapper>