<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weatherdemo2.mapper.YesterdayMapper">
    
    <select id="findAll" resultType="com.example.weatherdemo2.pojo.Yesterday">
        select * from yesterday ;
    </select>

    <select id="findYesterdayByCityName" resultType="com.example.weatherdemo2.pojo.Yesterday">
        select * from yesterday
            where cityName=#{cityName};
    </select>

    <insert id="addYesterdayByCityName" parameterType="com.example.weatherdemo2.pojo.Yesterday">
        insert into yesterday(cityName,date,high,fx,low,fl,type)
            values(#{cityName},#{date},#{high},#{fx},#{low},#{fl},#{type});
    </insert>

    <update id="updateYesterdayByCityName" parameterType="com.example.weatherdemo2.pojo.Yesterday">
        update yesterday
            set cityName=#{cityName},date=#{date},high=#{high},fx=#{fx},low=#{low},fl=#{fl},type=#{type} ;
    </update>

    <delete id="deleteYesterdayByCityName" parameterType="String">
        delete from yesterday
            where cityName=#{cityName};
    </delete>
</mapper>