<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pb.ssm.mapper.AuthorMapper">

    <!--开启本mapper下的二级缓冲
    type指定为ehcachecache类开
    在ehcache和mybatis的整合包中
    -->

    <cache />
    <resultMap id="yesterdayResultMap" type="Yesterday">
        <id column="cityId" property="cityId"></id>
        <id column="cityName" property="cityName"></id>
        <id column="data" property="data"></id>
        <result column="high" property="high"></result>
        <result column="fl" property="fl"></result>
        <result column="low" property="low"></result>
        <result column="fx" property="fx"></result>
        <result column="type" property="type"></result>
    </resultMap>


</mapper>